body {
    font-family: "Segoe UI", Verdana, sans-serif !important;
    color: #262626;
}

.list-of-site{
    height: 400px;
    overflow-y: auto;
}

.inline-flex{
    display: inline-flex;
}

.span-url{
    width: 200px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    cursor: pointer;
}

.span-url:hover{
    color: rgb(107, 107, 107);
}

.span-total{
    width: 260px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.span-percentage{
    width: 40px;
    color: rgb(78, 78, 78);
    font-size: 11px;
}

.span-time{
    margin-left: 10px;
    width: 80px;
    font-weight: 500;
}

.favicon{
    margin-right:5px;
}

hr {
    border: none;
    background-color: rgb(223, 222, 222);
    height: 2px;
   }

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}