body {
    font-family: "Segoe UI", Tahoma, sans-serif !important;
    color: #262626;
}

.list-of-site{
    overflow-y: auto;
}

.inline-flex{
    display: inline-flex;
}

.inline-flex:hover{
    font-size: 13px;
    font-weight: 650;
}

.span-url{
    width: 320px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
    cursor: pointer;
}

.span-active-url{
    font-weight: 700;
}

.span-total{
    width: 405px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 5px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

.span-percentage{
    width: 70px;
    color: rgb(78, 78, 78);
    font-size: 11px;
}

.span-time{
    margin-left: 10px;
    width: 80px;
    font-weight: 500;
}

.favicon{
    margin-right:5px;
}

hr {
    border: none;
    background-color: rgb(223, 222, 222);
    height: 2px;
   }

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

.title{
    font-size: 15px;
    font-weight: 650;
    margin: 5px;
    text-align: center;
}

input[type="button"]{
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;

    border-radius: 6px; 
    border: 1px solid #0099CC;
    background: transparent; 
    color: #0099CC; 
    width: 32%;
}

input[type="button"]:hover {
    background-color: #008CBA;
    color: white;
}

input[type="button"].active {
    background-color: #008CBA;
    color: white;
}

input[type="date"]{
    margin: 4px 6px;
    height: 22px;
}

.btn-block{
    width: 500px;
    margin-bottom: 7px;
}

.no-data{
    width: 500px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.calendar-block{
    margin-top: -20px;
}

.table-header{
    margin:3px 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    padding: 4px;
    background-color: rgb(223, 221, 221);
    text-align: center;
}

.day{
    width: 500px;
    height: 25px;
    cursor: pointer;
}