body {
    font-family: "Segoe UI", Tahoma, sans-serif !important;
    color: #262626;
}

.list-of-site{
    overflow-y: auto;
}

.inline-flex{
    display: inline-flex;
    height: 23px;
}

.inline-flex:hover{
    font-size: 13px;
    font-weight: 650;
}

.span-url{
    width: 320px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
    cursor: pointer;
}

.span-active-url{
    font-weight: 700;
}

.span-total{
    width: 405px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 5px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

.span-percentage{
    width: 70px;
    color: rgb(78, 78, 78);
    font-size: 11px;
}

.span-time{
    margin-left: 10px;
    width: 80px;
    font-weight: 500;
}

.favicon{
    margin-right:5px;
}

hr {
    border: none;
    background-color: rgb(223, 222, 222);
    height: 2px;
   }

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

.title{
    font-size: 15px;
    font-weight: 650;
    margin: 5px;
    text-align: center;
}

input[type="button"]{
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;

    border-radius: 6px; 
    border: 1px solid #0099CC;
    background: transparent; 
    color: #0099CC; 
    width: 32%;
}

input[type="button"]:hover {
    background-color: #008CBA;
    color: white;
}

input[type="button"].active {
    background-color: #008CBA;
    color: white;
}

input[type="date"]{
    margin: 4px 6px;
    height: 22px;
}

.btn-block{
    width: 500px;
    margin-bottom: 7px;
}

.no-data{
    width: 500px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.calendar-block{
    margin-top: -20px;
}

.table-header{
    margin:3px 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    padding: 4px;
    background-color: rgb(223, 221, 221);
}

p.table-header{
    text-align: center;
}

.day-block{
    display: inline-flex;
    width: 100%;
    height: 25px;
    cursor: pointer;
    border-bottom: 1px solid rgb(223, 221, 221);
}

.day{
    width: 415px;
    font-size: 13px;
    padding-left:5px;
    margin:auto;
}

.day-time{
    width: 80px;
    margin:auto;
}

.header-title-day{
    margin-left: 5px;
}

.header-title-time{
    margin-right: 5px;
    float: right;
}


  input[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle {
    font-family: monospace;
    font-size: 12px;
    cursor: pointer;
  }
  
  .lbl-toggle:hover {
    font-size: 13px;
    font-weight: 650;
    color: rgb(27, 27, 27);
  }
  
  .lbl-toggle::before {
    content: '    ';
    display: table;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: 3px;
    transform: translateY(6px);
  
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(3px);
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow-y: auto;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 200px;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .collapsible-content .content-inner {
    background: rgba(250, 224, 66, .2);
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 7px;
    overflow-y: auto;


    /* border-left: 3px solid rgb(151, 218, 52); */
  }