.dark{
  background-color: #303030;
  color: white;
}
.dark .headerBlock .header {
  color: #ffffff;
}
.dark .headerBlock .icons-block a img {
  filter: invert(100%) sepia(17%) saturate(0%) hue-rotate(24deg) brightness(103%) contrast(102%);
}