.dark{
  background-color: #303030;
  color: white;
}
.dark .headerBlock .header {
  color: #ffffff !important;
}
.dark .headerBlock .icons-block a:hover{
  filter: invert(40%) sepia(94%) saturate(3371%) hue-rotate(227deg) brightness(99%) contrast(92%);
}
.dark .headerBlock .icons-block a.filter img {
  filter: invert(100%) sepia(17%) saturate(0%) hue-rotate(24deg) brightness(103%) contrast(102%);
}
.dark .header-block {
  background-color: #616161;
}
.dark .tab-item .progress-bar{
  border: 1.5px rgb(107 107 107) solid;
}
.dark .tab-item:hover{
  border: 1px rgb(107 107 107) solid;
}
.dark .tab-item .links .link{
  filter: invert(100%) sepia(17%) saturate(0%) hue-rotate(24deg) brightness(103%) contrast(102%);
}
.dark .stats-block .block p{
  color: #b9b9b9 !important;
}
.dark .stats-block .block .header {
  background-color: #595959;
  color: rgb(255 255 255);
}
.dark .stats-block.block .header{
  background-color: #595959;
  color: rgb(255 255 255);
}
.dark .stats-block.block p{
  color: #b9b9b9 !important;
}
.dark .expander-body{
  background-color: #595959 !important;
}
.dark .expander .header span{
  color: #b9b9b9 !important;
}
.dark .header span{
  color: rgb(255 255 255);
}
.dark .settings-tab label[name="tabName"] img{
  filter: brightness(0) saturate(100%) invert(70%) sepia(5%) saturate(3889%) hue-rotate(191deg) brightness(95%) contrast(81%)
}
.dark .settings-tab label[name="tabName"]{
  background-color: #303030 !important;
  color: #bbbbbb;
}
.dark .settings-content{
  background-color: #303030 !important;
}
.dark .app-block .title{
  color: black;
}
.dark .settings-tab label[name="tabName"]:hover, .dark [type='radio']:checked ~ label{
  background-color: #666666 !important;
}
.dark .container p.value{
  color: black;
}
.dark .review-block p{
  color:#303030;
}
.dark .pomodoro-popup-block p{
  color:#303030;
}