body {
  font-family: 'Segoe UI', Tahoma, sans-serif !important;
  color: #262626;
  background-color: #eee;
  margin: 0;
}

.container {
  width: 850px;
  margin: 10px auto;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.setting-header {
  font-weight: 600;
  font-size: 16px;
}

.description {
  font-size: 14px;
  color: grey;
  margin: 7px 0 15px 0;
  font-weight: normal;
}

.url-list {
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 655px;
  min-height: 300px;
  cursor: pointer;
  list-style: none;
  padding: 10px;
  max-height: 600px;
  overflow: auto;
}

.url-list li {
  line-height: 25px;
  font-size: 14px;
}

.url-list li span{
  font-weight: 600;
  margin-left: 10px;
}

input[type='number'],input[type='text'] {
  height: 36px;
  padding: 0 0 0 5px;
  width: 400px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type='button'].small-btn {
  padding: 0 5px;
  width: 120px;
}

.option {
  min-width: 170px;
  color: #444;
  background: #fff;
  border-radius: 3px;
  margin: 0;
  padding: 10px 30px 10px 15px;
  font-size: 14px;
  border-color: #ccc;
  position: relative;
  cursor: pointer;
}

.header {
  grid-area: h;
  margin: 0 0 10px;
  font-size: 20px;
}

a {
  color: #3477db;
  text-decoration: none;
  cursor: pointer;
}

label {
  font-size: 14px;
}

[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type='checkbox'] + span {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type='checkbox'] + span:before,
[type='checkbox']:not(.filled-in) + span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 3px;
}

[type='checkbox']:not(:checked):disabled + span:before {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}

[type='checkbox']:checked:disabled + span:before {
  border-right: 2px solid rgba(0, 0, 0, 0.42);
  border-bottom: 2px solid rgba(0, 0, 0, 0.42);
}

[type='checkbox'].filled-in + span:after {
  border-radius: 2px;
}

[type='checkbox'].filled-in + span:before,
[type='checkbox'].filled-in + span:after {
  content: '';
  left: 0;
  position: absolute;
  z-index: 1;
}

[type='checkbox'].filled-in:not(:checked) + span:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type='checkbox'].filled-in:not(:checked) + span:after {
  height: 17px;
  width: 17px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 0px;
  z-index: 0;
}

[type='checkbox'].filled-in:checked + span:before {
  top: -3px;
  left: -2px;
  width: 7px;
  height: 12px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotateZ(35deg);
  transform: rotateZ(35deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type='checkbox'].filled-in:checked + span:after {
  top: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #3477db;
  background-color: #3477db;
  z-index: 0;
}

.hidden {
  display: none !important;
}

.notify {
  width: 220px;
  height: 27px;
  margin: auto;
  background-color: rgb(21, 104, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 20px;
  font-size: 15px;
  white-space: nowrap;
  padding: 10px;
}

.block {
  display: block;
}

.readonly-input {
  cursor: default;
  border: 0;
  display: block;
}

.setting-notify-block {
  width: 450px;
  height: 100px;
  margin-top: 15px;
  background-color: rgb(175, 175, 175);
  border-radius: 10px;
}

.setting-notify-block .setting-notify-title {
  padding: 15px 20px 5px 0;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: left;
  display: block;
}

.setting-notify-block .setting-notify-message {
  padding: 3px 20px 5px 0;
  font-size: 14px;
  display: block;
  width: 320px;
}
.setting-notify-block .setting-notify-message-g {
  padding: 0 30px 5px 0;
  color: rgb(199, 199, 199);
  font-size: 11px;
  display: block;
}

.setting-notify-block .setting-notify-img {
  height: 50px;
  padding: 25px 15px 25px 25px;
}

.setting-notify-block .setting-notify-message-block {
  display: inline-block;
  position: absolute;
}

.settings-tabs {
}
.settings-tab {
  clear: both;
  width: 286px;
}
.settings-tab label[name='tabName'] {
  background: #eee;
  padding: 5px 0 5px 35px;
  font-size: 16px;
  vertical-align: middle;
  width: 250px;
  height: 40px;
  display: table-cell;
  cursor: pointer;
}
.settings-tab label[name='tabName']:hover {
  background-color: #cccccc !important;
}
.settings-tab [type='radio'] {
  display: none;
}
.settings-tab img{
  vertical-align: middle;
  margin-right: 10px;
}
.settings-content {
  position: absolute;
  top: 0;
  left: 286px;
  background: white;
  right: 0;
  bottom: 0;
  padding: 50px;
  border-left: 1px solid #ccc;
  overflow-y: auto;
}
.settings-content span {
  animation: 0.5s ease-out 0s 1 slideInFromTop;
}
[type='radio']:checked ~ label {
  background: white;
  border-bottom: 2px solid #8bc34a;
  z-index: 2;
}
[type='radio']:checked ~ label ~ .settings-content {
  z-index: 1;
}
.settings-item {
  margin-bottom: 30px;
}
.url-list img {
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}

.url-list .time-value {
  margin-top: 5px;
  margin-left: 55px;
}
