:root {
  --main-color: #6ebf5d;
  --popup-header: #efefef;
  --progress-bar: #428bff;
}

.no-data {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30%;
}

.float-right {
  float: right;
}
.d-inline-block {
  display: inline-block;
}
.mt-0 {
  margin-top: 0;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-5 {
  margin-right: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.p-5 {
  padding: 5px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}
select {
  border-color: #ccc;
  border-radius: 5px;
}
.w-100 {
  width: 100%;
}
input[type='button'] {
  background: #428bff;
  color: #fff;
  border-radius: 3px;
  height: 36px;
  line-height: 35px;
  padding: 0 20px;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  min-width: 80px;
  text-align: center;
  width: 200px;
}

input[type='button']:hover {
  background: #5c9dfe;
  text-decoration: none;
}

input[type='button'].alert {
  background: #fe5c5c !important;
}

input[type='button'].info {
  background: #ffffff !important;
  color: black;
  border: 1px solid black;
}

input[type='button'][disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.modal {
  display: block; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
  border-radius: 10px;
}

.modal-content p{
  font-size: 18px;
  font-weight: 600;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.no-data .date-picker {
  font-weight: normal;
  text-align: center;
  width: 250px;
  margin: auto;
  margin-top: 15px;
}
.date-block .date-picker {
  width: 250px;
}