body{
    padding: 150px;
    text-align: center;
    background-color: rgb(243, 243, 243)
}

.title{
    font-size: 23px;
    font-weight: 600;
}

.description{
    font-size: 15px;
    font-weight: 400;
}

.current-site{
    font-size: 18px;
    font-weight: 500;
    color: rgb(202, 48, 48);
}

.current-limit{
    font-weight: 500;
    color: rgb(128, 128, 128);
}

.margin-top-10{
    margin-top: 10px;
}

.product-title{
    font-size: 16px;
    color: rgb(128, 128, 128);
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.defferer-link{
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}