/*Styling for the lines connecting the labels to the slices*/
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
    font-size: 1.1em;
}

tspan{
    font-size: 1.2em;
    font-weight: 600;
}

.siteName{
    font-size: 1em !important;
    font-weight: 400 !important;
}

.percentageValue{
    font-size: 1.8em !important;
    font-weight: 600 !important;
}

g.slices > path:hover{
  transform: translate(0,-1px);
  filter: url(#dropShadow);
  transition: transform .1s;
} 

g.slices > path.mouse-over{
  transform: translate(0,-1px);
  filter: url(#dropShadow);
  transition: transform .1s;
}

/*styles for chart of days*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  font-size: 11px;
  line-height: 1;
  font-weight: bold;
  padding: 7px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  right:0;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.red-label{
  color:red;
}

.height-0{
  height: 0 !important;
}

.grid .tick {
  stroke: lightgrey;
  opacity: 0.1;
}
.grid path {
    stroke-width: 0;
}

body{
  min-height: 250px;
}
