body {
    font-family: "Segoe UI", Tahoma, sans-serif !important;
    color: #262626;
    background-color: aliceblue;
}

.content {
    width: 750px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 40px;
    grid-template-areas: 'h h' 'n m';
}

.title{
    font-size: 23px;
    font-weight: 650;
}

.header{
    grid-area: h;
    margin: 0 0 10px;
    font-size: 20px;
}

a {
    color: #3477db;
    text-decoration: none;
    cursor: pointer;
}

.nav{
    grid-area: n;
    border-right: 1px solid #ddd;
    padding-right: 15px;
    align-self: start;
}

.nav a {
    font-size: 16px;
    margin-bottom: 20px;
    color: #888;
    display: block;
}

.nav a:hover {
    font-size: 16px;
    margin-bottom: 20px;
    color: #3477db;
    display: block;
    font-weight: 650;
}

.nav .active {
    color: #3477db;
    font-weight: bold;
}

label{
    font-size: 14px;
}

[type="checkbox"]:not(:checked),[type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none
}

[type="checkbox"]+span {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

[type="checkbox"]+span:before,[type="checkbox"]:not(.filled-in)+span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 3px;
}

[type="checkbox"]:not(:checked):disabled+span:before {
    border: none;
    background-color: rgba(0,0,0,0.42)
}

[type="checkbox"]:checked:disabled+span:before {
    border-right: 2px solid rgba(0,0,0,0.42);
    border-bottom: 2px solid rgba(0,0,0,0.42)
}

[type="checkbox"].filled-in+span:after {
    border-radius: 2px
}

[type="checkbox"].filled-in+span:before,[type="checkbox"].filled-in+span:after {
    content: '';
    left: 0;
    position: absolute;
    z-index: 1
}

[type="checkbox"].filled-in:not(:checked)+span:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type="checkbox"].filled-in:not(:checked)+span:after {
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0px;
    z-index: 0
}

[type="checkbox"].filled-in:checked+span:before {
    top: -3px;
    left: -2px;
    width: 7px;
    height: 12px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotateZ(35deg);
    transform: rotateZ(35deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type="checkbox"].filled-in:checked+span:after {
    top: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #3477db;
    background-color: #3477db;
    z-index: 0
}

input[type="button"]{
    background: #3477db;
    color: #fff;
    border-radius: 3px;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    min-width: 80px;
    text-align: center;
    width: 200px;
}

input[type="button"]:hover {
    background: #5c9dfe;
    text-decoration: none;
  }

  
  input[type="button"][disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

.margin-top-10{
      margin-top: 10px;
  }

.margin-top-20{
    margin-top: 20px;
}

.margin-left-5{
    margin-left: 5px;
}

.option {
    min-width: 170px;
    color: #444;
    background: #fff;
    border-radius: 3px;
    margin: 0;
    padding: 10px 30px 10px 15px;
    font-size: 14px;
    border-color: #ccc;
    position: relative;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    transform: translateX(-50%) translateY(-120%);
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .hidden{
      display: none !important;
  }

  .notify{
    width: 220px;
    height: 27px;
    margin: auto;
    background-color: rgb(21, 104, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 20px;
    font-size: 15px;
    white-space: nowrap;
    padding: 10px;
  }

  .listbox{
      overflow-y: auto;
      width: 350px;
      height: 120px;
      padding: 3px;
      padding: 3px 5px 3px 5px;
      border: 1px solid rgb(172, 169, 169);
  }

  .listbox img{
      float: right;
      cursor: pointer;
  }

  #addBlackSiteLbl{
      width: 321px;
      height: 15px;
      padding: 3px;
  }

  #addBlackSiteBtn{
    height: 24px !important;
    line-height: 20px !important;
    padding: 0 5px !important;
    min-width: 20px !important;
    width: 28px !important;
  }

  .label-with-list{
    width: 333px;
    height: 15px;
    padding: 3px;
}

.btn-with-list{
  height: 24px !important;
  line-height: 20px !important;
  padding: 0 5px !important;
  min-width: 20px !important;
  width: 28px !important;
}

.list{
    width: 440px;
    height: 250px;
}

.clock{
    width: 65px;
    height: 15px;
    padding: 3px;
}

.clock-li-readonly{
    border: none;
    margin-left: -3px;
}

.inline-block{
    display: inline-block !important;
}

.block{
    display: block;
}

.readonly-input{
    cursor: default;
    border: 0;
    display: block;
}

.element-item{
    width: 380px;
    font-weight: 600;
}

.notify.warning{
    background-color: rgb(219, 93, 104);
}

.notify-width-300{
    width: 300px !important;
}

.button{
    background: #FF813F;
    color: #fff;
    border-radius: 3px;
    line-height: 47px;
    display: inline-block;
    border: 0;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    height: 51px;
    min-width: 200px;
}

.bmc-button img {
    width: 27px !important;
    margin-bottom: 4px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
 }

 .bmc-button span{
    margin-left:15px;
    font-size:15px !important;
 }

 .bmc-button {
    padding: 15px 25px 18px 18px !important;
    line-height: 35px !important;
    height: 51px !important;
    width: 217px !important;
    text-decoration: none !important;
    color: #FFFFFF !important;
    background-color: #FF813F !important;
    border-radius: 3px !important;
    border: 1px solid transparent !important;
    margin: 0 auto !important;
    box-sizing: border-box !important;
 }

.button:hover,
.button:active,
.button:focus,
.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus{
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    text-decoration: none !important;
    box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    opacity: 0.85 !important;
    color: #FFFFFF !important;
}

.setting-notify-block{
    width: 450px;
    height: 100px;
    margin-top: 15px;
    background-color: rgb(71, 69, 69);
}

.setting-notify-block .setting-notify-title{
    padding: 15px 20px 5px 0;
    font-weight: 700;
    color:#FFFFFF;
    font-size: 15px;
    text-align: left;
    display: block;
}

.setting-notify-block .setting-notify-message{
    padding: 3px 20px 5px 0;
    font-size: 14px;
    display: block;
    width: 320px;
}
.setting-notify-block .setting-notify-message-g{
    padding: 0 30px 5px 0;
    color:rgb(199, 199, 199);
    font-size: 11px;
    display: block;
}

.setting-notify-block .setting-notify-img{
    height: 50px;
    padding: 25px 15px 25px 25px;
}

.setting-notify-block .setting-notify-message-block{
    display: inline-block;
    position: absolute;
}

.bold{
    font-weight: 650;
}

.site-name{
    display: inline-block;
    width: 100px;
}

.permission-btn{
    height: 25px !important;
    line-height: 25px !important;
    background-color:green !important;
}